.form-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group .form-label {
  flex: 1;
}

.form-group .form-control {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  flex: 2;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
}

.form-group:has(textarea) {
  align-items: flex-start;
}

.form-group:has(textarea) .form-label {
  margin-top: 0.25rem;
}
